*{
    font-family:'Poppins', sans-serif;
    margin: 0px;
    scroll-behavior: smooth;
}

html,body{
    height: auto;
    width: 100vw;
}

main{
 width: 100%;   
}

.mt-1{
    margin-top: 5px;
}

.mt-5{
    margin-top: 20px;
}

.mb-1{
    margin-bottom: 5px;
}

.mb-5{
    margin-bottom: 20px;
}

.pointer{
    cursor: pointer;
}

.ml-1{
    margin-left: 5px;
}
.ml-5{
    margin-left: 20px;
}

.h4{
    font-size: 4em;
}

.azul-oscuro{
    color: $blue-dark;
}

.blanco-perla{
    color: $white-pearl;
}

.bg-azul-oscuro{
    background-color: $blue-dark;
}


@media (min-width:600px){
    .wide{
        grid-column: span 2;
    }
    .tall{
        grid-row: span 2;
    }
}
